<div id="wrapper">

    <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <app-topbar></app-topbar>

            <div class="container-fluid">
                <div class="row" *ngIf="batches && batches.length > 0; else noBatchesAdded;">
                    <div class="col-lg-4 col-xs-12 mb-4" *ngFor="let batch of batches | paginate: { itemsPerPage: 6, currentPage: page, totalItems: totalLength }">
                        <div class="mb-3">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <a routerLink="/warki/{{ batch.id }}" class="text-decoration-none">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-lg-11 col-xs-12">
                                                <div class="col mb-1">
                                                    <div class="h4 mb-3 font-weight-bold text-gray-800">
                                                        <i class="fas fa-beer"></i>
                                                        {{ batch.name }}
                                                        <hr class="mt-1 mb-4">
                                                    </div>
                                                    <div class="h6 mb-2 font-weight-bold text-gray-800">
                                                        Receptura:
                                                        <span class="text-success">{{ batch.recipe.name }}</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Styl:
                                                        <span class="text-info">{{ batch.recipe.style.name }}</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Typ:
                                                        <span class="text-info">{{ batch.recipe.type }}</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Rozmiar:
                                                        <span class="text-info">{{ batch.recipe.expected_beer_amount }}L</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Ekstrakt:
                                                        <span class="text-info">{{ batch.recipe.blg }} BLG</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Goryczka:
                                                        <span class="text-info">{{ batch.recipe.ibu }} IBU</span>
                                                    </div>
                                                    <div class="h6 mb-1 font-weight-bold text-gray-800">
                                                        Kolor:
                                                        <span class="text-info">{{ batch.recipe.ebc }} EBC</span>
                                                    </div>
                                                    <div class="text-xs font-weight-bold text-black-50 text-uppercase mt-3">
                                                        Uwarzona: <span class="text-success">{{ batch.brewing_date | date: 'YYYY-MM-dd' }}</span>
                                                    </div>
                                                    <div class="text-xs font-weight-bold text-black-50 text-uppercase mb-1">
                                                        Zabutelkowana: <span *ngIf="batch.bottling_date; else noBottlingDate;" class="text-success">{{ batch.bottling_date }}</span>
                                                        <ng-template #noBottlingDate> <span class="text-success"> --- </span> </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ng-template #noBatchesAdded>
                    <div class="text-center text-black-50" *ngIf="!(loaderService.isLoading | async)">
                        Nie uwarzono żadnych warek.
                    </div>
                </ng-template>

                <div class="row text-center mb-4"
                     *ngIf="totalLength > 6"
                >
                    <pagination-controls
                        class="text-center"
                        (pageChange)="page = $event"
                        previousLabel="Poprzednia"
                        nextLabel="Następna"
                        maxSize:1
                    ></pagination-controls>
                </div>

            </div>

        </div>

        <app-footer></app-footer>

    </div>

</div>