<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                            </div>
                            <div class="card-body">
                                <form class="d-flex flex-column">
                                    <div class="mb-3">
                                      <img src="https://via.placeholder.com/150x150" alt="">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Login</label>
                                      <input type="text" class="form-control bg-light border-0 small">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Email</label>
                                      <input type="text" class="form-control bg-light border-0 small">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Hasło</label>
                                      <input type="password" class="form-control bg-light border-0 small">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Powtórz Hasło</label>
                                      <input type="password" class="form-control bg-light border-0 small">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                            </div>
                            <div class="card-body">
                                <form class="d-flex flex-column">
                                    <div class="mb-3">
                                      <label for="" class="form-label">Instagram</label>
                                      <input type="text" class="form-control bg-light border-0 small">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">O mnie</label>
                                      <textarea name="" id="" cols="30" rows="10"
                                                class="form-control bg-light border-0 small"></textarea>
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Gęstość końcowa</label>
                                      <input type="text" class="form-control bg-light border-0 small">
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Ulubione style piwne</label>
                                      <input type="text" class="form-control bg-light border-0 small">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

              </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Beerappka 2021 Michał Pojęta & Emil Pausz</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
