<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Poziom nagazowania</h6>
                            </div>
                            <div class="card-body">
                                <form class="d-flex flex-column">
                                    <div class="mb-3">
                                        <label class="form-label">Ilość piwa</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control bg-light border-0 small"
                                                type="number"
                                                min=0
                                                [(ngModel)]="amountOfBeerInLiters"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateAmoutOfSugarToRefermenation();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">L</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Poziom CO2</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control bg-light border-0 small"
                                                type="number"
                                                min=0
                                                [(ngModel)]="targetCarbonationLevel"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateAmoutOfSugarToRefermenation();"
                                            >
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Temperatura piwa</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control bg-light border-0 small"
                                                type="number"
                                                min=0
                                                [(ngModel)]="beerTemperature"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateAmoutOfSugarToRefermenation();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">°C</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Rodzaj cukru</label>
                                        <select
                                            class="form-control bg-light border-0 small"
                                            placeholder="Wybierz"
                                            [(ngModel)]="sugarType"
                                            [ngModelOptions]="{standalone: true}"
                                            (focusout)="calculateAmoutOfSugarToRefermenation();"
                                        >
                                            <option value="" selected disabled hidden>Wybierz</option>
                                            <option value="whiteSugar">Cukier biały</option>
                                            <option value="dryExtract">Suchy ekstrakt</option>
                                            <option value="glucose">Glukoza</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Ilość cukru do refermentacji</label>
                                        <div class="input-group">
                                            <input
                                                class="form-control border-0 small"
                                                type="number"
                                                disabled
                                                value="{{ amountOfSugarToRefermentation | number: '1.0-0' }}"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0">g</span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Poziomy nasycenia CO<sub>2</sub> dla poszczególnych stylów piwnych</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Nazwa</th>
                                                <th>Minimalne nagazowanie</th>
                                                <th>Maksymalne nagazowanie</th>
                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let info of beerStylesCarbonationInfo;">
                                            <tr>
                                                <td> {{ info.name }} </td>
                                                <td> {{ info.minCarbonation | number: '1.1' }} </td>
                                                <td> {{ info.maxCarbonation | number: '1.1' }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
