[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2.2"
python-dotenv = "*"
djangorestframework = "*"
drf-yasg = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
django-cors-headers = "*"
pillow = "*"
black = "*"
sorl-thumbnail = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
