/* You can add global styles to this file, and also import other style files */
$dark-brown: #3C2F3D
$green: #2EAC6D

body
  color: $dark-brown

.navbar-dark
  background-color: $green
  color: white

.bg-gradient-dark
  background-color: $green
  background-image: linear-gradient(180deg, $green 10%, darken($green, 15%) 100%)

.profile-card

  &__picture
    max-width: 150px
    height: 150px
    border-radius: 50%
    display: block

