<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <div class="mb-1">Beerappka 2021</div>
            <div class="mb-3">Michał Pojęta & Emil Pausz</div>
            <div class="">
                Aplikacja powstała w ramach pracy inżynierskiej na Politechnice Lubelskiej
                <a href="https://www.pollub.pl/">
                    <img src="http://www.pollub.pl/files/31/attachment/9577_logo,PL,2017.jpg" style="width: 25px; height: 25px;"/>
                </a>
            </div>
        </div>
    </div>
</footer>