<div id="wrapper">

    <app-sidebar></app-sidebar>

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <app-topbar></app-topbar>

            <div class="container-fluid">

                <div class="row">
                    <form (ngSubmit)="onSubmit()" class="d-flex flex-wrap">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4 border-bottom-info">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex flex-column">
                                        <div class="card border-left-success shadow h-100 py-2 mb-3">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            <label for="old_password" class="form-label">Stare hasło</label>
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <input  [(ngModel)]="changePasswordFields.old_password"
                                                                    name="old_password"
                                                                    id="old_password"
                                                                    type="password"
                                                                    class="form-control bg-light border-0 small">
                                                            <div *ngIf="err && err.old_password" class="mt-1 text-xs">
                                                                <div *ngFor="let e of err.old_password"
                                                                    class="text-danger">
                                                                    {{ "Niepoprawne hasło" }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card border-left-success shadow h-100 py-2 mb-3">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            <label for="new_password1" class="form-label">Nowe hasło</label>
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <input  [(ngModel)]="changePasswordFields.new_password1"
                                                                    name="new_password1"
                                                                    id="new_password1"
                                                                    type="password"
                                                                    class="form-control bg-light border-0 small">
                                                            <div *ngIf="err && err.new_password1" class="mt-1 text-xs">
                                                                <div *ngFor="let e of err.new_password1"
                                                                    class="text-danger">
                                                                    {{ e }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card border-left-success shadow h-100 py-2 mb-3">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            <label for="new_password2" class="form-label">Powtórz nowe hasło</label>
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            <input  [(ngModel)]="changePasswordFields.new_password2"
                                                                    name="new_password2"
                                                                    id="new_password2"
                                                                    type="password"
                                                                    class="form-control bg-light border-0 small">
                                                            <div *ngIf="err && err.new_password2" class="mt-1 text-xs">
                                                                <div *ngFor="let e of err.new_password2"
                                                                    class="text-danger">
                                                                    {{ e }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow mb-4 border-bottom-info col-lg-12">
                            <div class="col-lg-12 mb-4 mt-4">
                                <button class="btn btn-primary"
                                     type="submit">
                                    <span class="text">Zapisz</span>
                                </button>
                                <a class="btn btn-light ml-4"
                                     routerLink="/profil"
                                     role="button">
                                    <span class="text">Anuluj</span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

              </div>

        </div>

        <app-footer></app-footer>

    </div>

</div>