<app-page-top-bar></app-page-top-bar>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset hasła</h1>
                                </div>
                                <form class="user" (submit)="resetFinish()">
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="newPassword1"
                                               required
                                               placeholder="Nowe hasło"
                                               [(ngModel)]="newPassword1">
                                            <div *ngIf="err && err.newPassword1" class="m-3 text-xs">
                                                <div *ngFor="let e of err.newPassword1"
                                                    class="text-danger">
                                                    {{ e }}
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="newPassword2"
                                               required
                                               placeholder="Powtórz nowe hasło"
                                               [(ngModel)]="newPassword2">
                                            <div *ngIf="err && err.newPassword2" class="m-3 text-xs">
                                                <div *ngFor="let e of err.newPassword2"
                                                    class="text-danger">
                                                    {{ e }}
                                                </div>
                                            </div>
                                    </div>
                                    <button *ngIf="!successMsg; else successMsgBlock"
                                        class="btn btn-primary btn-user btn-block" type="submit">Resetuj</button>
                                        <ng-template #successMsgBlock>
                                            <p class="text-center">{{ successMsg }}</p>
                                            <p>
                                                <a routerLink="/logowanie" routerLinkActive="active"
                                                    class="btn btn-primary btn-user btn-block" role="button">
                                                    <span class="mr-2 d-none d-lg-inline">Logowanie</span>
                                                </a>
                                            </p>
                                        </ng-template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
