<app-page-top-bar></app-page-top-bar>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Zaloguj się</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" name="username"
                                               placeholder="Username" [(ngModel)]="user.username">
                                    </div>
                                    <div *ngIf="err && err.username" class="m-3 text-xs">
                                      <div *ngFor="let e of err.username"
                                          class="text-danger">
                                          {{ e }}
                                      </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" name="password"
                                               placeholder="Hasło" [(ngModel)]="user.password">
                                    </div>
                                    <div *ngIf="err && err.password" class="m-3 text-xs">
                                      <div *ngFor="let e of err.password"
                                          class="text-danger">
                                          {{ e }}
                                      </div>
                                    </div>
                                    <div *ngIf="err && err.non_field_errors" class="m-3 text-xs">
                                      <div *ngFor="let e of err.non_field_errors"
                                          class="text-danger">
                                          {{ e }}
                                      </div>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" (click)="login()">Zaloguj</button>
                                </form>
                                <hr class="mt-5 mb-5">
                                <div class="text-center">
                                    <a class="small" href="#">Zapomniałeś hasła?</a>
                                </div>
                                <div class="text-center">
                                    <a routerLink="/rejestracja" routerLinkActive="active"
                                      class="small" role="button">
                                        Załóż konto
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
