<nav class="navbar navbar-expand navbar-dark topbar mb-4 static-top shadow">
    <a
      routerLink="/"
      routerLinkActive="active"
      class="nav-link navbar-brand d-flex align-items-center justify-content-center"
      role="button"
    >
      <div class="sidebar-brand-icon rotate-n-15">
        <i><img src="assets/img/hop_logo.png"></i>
      </div>
      <div class="sidebar-brand-text mx-2">Beerappka</div>
    </a>

    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-arrow"
            *ngIf="isLoggedIn">
            <a routerLink="/dashboard" routerLinkActive="active"
              class="nav-link" role="button">
                <span class="mr-2 d-none d-inline small">Dashboard</span>
            </a>
        </li>
        <li class="nav-item dropdown no-arrow"
            *ngIf="!isLoggedIn">
            <a routerLink="/logowanie" routerLinkActive="active"
              class="nav-link" role="button">
                <span class="mr-2 d-none d-inline small">Logowanie</span>
            </a>
        </li>
        <li class="nav-item dropdown no-arrow"
            *ngIf="!isLoggedIn">
            <a routerLink="/rejestracja" routerLinkActive="active"
              class="nav-link" role="button">
                <span class="mr-2 d-none d-inline small">Rejestracja</span>
            </a>
        </li>

    </ul>
</nav>
