<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <app-page-top-bar></app-page-top-bar>

    <div id="content" class="mb-4">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="text-center col-lg-12">
            <h1 class="mb-3">Beerappka</h1>
            <p>
              Gromadzenie przepisów piwowarskich nigdy nie było przyjemniejsze!
            </p>
            <p *ngIf="!isLoggedIn">
              <button
                  class="btn btn-light btn-sm border-dark"
                  routerLink="/rejestracja"
                  routerLinkActive="active"
                >
                  Załóż DARMOWE konto
              </button>
            </p>
            <p *ngIf="!isLoggedIn">lub</p>
            <p *ngIf="!isLoggedIn">
              <button
                class="btn btn-light btn-sm border-dark"
                routerLink="/logowanie"
                routerLinkActive="active"
              >
                  Zaloguj się
              </button>
            </p>
          </div>
        </div>
      </div>

      <div class="container">

         <div class="row">
           <h2 class="text-center mt-5 mb-5">Chcesz gromadzić swoje receptury?</h2>
          <div class="col-lg-6 mb-4">
            <img src="assets/img/piwo.jpg" alt="" class="img-thumbnail">
          </div>
          <div class="col-lg-6 fs-5">
            <p>W naszej aplikacji zrobisz to bez najmniejszego problemu!</p>
            <p>Beerappka pozwoli ci między innymi na:</p>
            <ul>
              <li>układanie receptur piwowarskich</li>
              <li>gromadzenie utworzonych przepisów</li>
              <li>dokumentowanie procesu powstawania piwa</li>
              <li>dzielenie się przepisami z innymi użytkownikami</li>
              <li>dostęp do katalogu publicznych receptur</li>
              <li>obliczanie istotnych parametrów</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <h2 class="text-center mt-5 mb-5">Warz świetne piwo razem z nami!</h2>
          <div class="col-lg-4 mb-3">
            <img src="assets/img/markus-spiske-R0PHtuR1ofs-unsplash.jpg" alt="" class="img-thumbnail">
          </div>
          <div class="col-lg-4 mb-3">
            <img src="assets/img/adam-wilson-I2f5BbeXPVY-unsplash.jpg" alt="" class="img-thumbnail">
          </div>
          <div class="col-lg-4 mb-3">
            <img src="assets/img/gabriel-jimenez-jin4W1HqgL4-unsplash.jpg" alt="" class="img-thumbnail">
          </div>
        </div>

        <div class="row">
          <h2 class="text-center mt-5 mb-5">Dołącz do społeczności piwowarów już dziś!</h2>
          <div class="col-lg-6 fs-5">
            <p>Dzięki aplikacji będziesz mógł poznać osoby, które dzielą taką samą pasję jak Ty.</p>
            <p>Będziesz mógł inspirować się ich pomysłami.</p>
            <p>Możliwości jest wiele.</p>
            <p *ngIf="!isLoggedIn">
              <button
                  class="btn btn-light btn-sm border-dark"
                  routerLink="/rejestracja"
                  routerLinkActive="active"
                >
                  Załóż DARMOWE konto
              </button>
            </p>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/piwo.jpg" alt="" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>
</div>