<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-4 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Alkohol</h6>
                            </div>
                            <div class="card-body">
                                <form class="d-flex flex-column">
                                    <div class="mb-3">
                                      <label for="" class="form-label">Jednostka gęstości</label>
                                      <select class="form-control bg-light border-0 small" required="required">
                                        <option value selected="selected">BLG</option>
                                        <option value="malt">OG</option>
                                      </select>

                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Gęstość początkowa</label>
                                      <input
                                          type="text"
                                          class="form-control bg-light border-0 small"
                                          [(ngModel)]="originalGravity"
                                          [ngModelOptions]="{standalone: true}"
                                          (focusout)="calculateABV(); calculateAttenuation();"
                                      >
                                    </div>
                                    <div class="mb-3">
                                      <label for="" class="form-label">Gęstość końcowa</label>
                                      <input
                                          type="text"
                                          class="form-control bg-light border-0 small"
                                          [(ngModel)]="finalGravity"
                                          [ngModelOptions]="{standalone: true}"
                                          (focusout)="calculateABV(); calculateAttenuation();"
                                      >
                                    </div>
                                    <div>
                                      <label>ABV:</label>
                                      <i style="font-weight: bold;"> {{ this.alcoholByVolume }} </i>
                                    </div>
                                    <div>
                                      <label>Odfermentowanie:</label>
                                      <i style="font-weight: bold;"> {{ this.apparentAttenuation }} </i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
