<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <app-topbar></app-topbar>

        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">
                <div id="recipeHeader" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Receptura</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col-md mb-3">
                                    <input
                                        type="text"
                                        class="form-control bg-light border-0"
                                        placeholder="Nazwa"
                                        [(ngModel)]="recipe.name"
                                        [ngModelOptions]="{standalone: true}"
                                    />
                                </div>
                                <div class="col-md mb-3">
                                    <select
                                        class="form-control bg-light border-0"
                                        required="required"
                                        placeholder="Typ"
                                        [(ngModel)]="recipe.type"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value="" selected disabled hidden>Typ</option>
                                        <option value="m">Zacieranie</option>
                                        <option value="e">Ekstrakty</option>
                                        <option value="b">Brewkit</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <select
                                        class="form-control bg-light border-0"
                                        placeholder="Styl"
                                        required="required"
                                        [(ngModel)]="recipe.style"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value=0 selected disabled hidden>Styl</option>
                                        <option *ngFor="let beerStyle of beerStyles;" value="{{ beerStyle.id }}"> {{ beerStyle.name }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="batchSize" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Rozmiar warki</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col-lg">
                                    <div class="col-md mb-3">
                                        <label>Oczekiwana ilość gotowego piwa</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.expected_beer_amount"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">L</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <label>Czas gotowania</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.boiling_time"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">min</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <label>Szybkość odparowywania</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.evaporation_rate"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">%/h</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg">
                                    <div class="col-md mb-3">
                                        <label>Straty z gotowania</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.boiling_losses"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <label>Straty z fermentacji</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.fermentation_losses"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <label>Straty z chmielenia na zimno</label>
                                        <div class="input-group">
                                            <input
                                                type="number"
                                                min=0
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipe.cold_hop_losses"
                                                [ngModelOptions]="{standalone: true}"
                                                (focusout)="calculateParameters();"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="col mb-1">
                                    <i style="font-weight: bold;">Ilość gotowanej brzeczki: </i>
                                    <i> {{ (recipe.boiled_wort_amount | number: '1.0-2')  + " L" }} </i>
                                </div>
                                <div class="col mb-1">
                                    <i style="font-weight: bold;">Gęstość przed gotowaniem: </i>
                                    <i> {{ (blgBeforeBoiling | number: '1.0-2') + " BLG" }} </i>
                                </div>
                                <div class="col mb-1">
                                    <i style="font-weight: bold;">Ilość brzeczki nastawnej: </i>
                                    <i> {{ (amountOfSweetWortInLiters | number: '1.0-2') + " L" }} </i>
                                </div>
                                <div class="col mb-1">
                                    <i style="font-weight: bold;">Ilość piwa przed chmieleniem na zimno: </i>
                                    <i> {{ (amountOfBeerBeforeDryHoppingInLiters | number: '1.0-2') + " L" }} </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recipeFermentables" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Surowce fermentujące</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col-md mb-3">
                                    <label>Nazwa</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wyszukaj..."
                                        required="required"
                                        [(ngModel)]="malt"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option [ngValue]="malt" selected disabled hidden>Wyszukaj...</option>
                                        <option *ngFor="let malt of malts;" [ngValue]="malt">{{ malt.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Rodzaj</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wybierz"
                                        required="required"
                                        [(ngModel)]="malt.type"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value="" selected disabled hidden>Wybierz</option>
                                        <option value="gr">Słód</option>
                                        <option value="de">Ekstrakt suchy</option>
                                        <option value="le">Ekstrakt płynny</option>
                                        <option value="su">Cukier</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Ilość</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="recipeMalt.quantity"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">kg</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Barwa</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="malt.color"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">EBC</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Ekstraktywność</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="malt.extractivity"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 mb-1 text-center">
                                    <button class="btn btn-success btn-circle btn-sm m-1" (click)="addMalt()">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-danger btn-circle btn-sm m-1"  title="Usuń wszystkie" (click)="deleteMalts()">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div *ngIf="recipeMalts.length > 0">
                                <div class="row card-body" *ngFor="let recipeMalt of recipeMalts;">
                                    <div class="col-md mb-3">
                                        <select
                                            class="form-control bg-light border-0 small"
                                            placeholder="Wyszukaj..."
                                            required="required"
                                            [(ngModel)]="recipeMalt.malt"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                            <option [ngValue]="recipeMalt.malt">{{ recipeMalt.malt.name }}</option>
                                            <option disabled>---</option>
                                            <option *ngFor="let malt of malts;" [ngValue]="malt">{{ malt.name }}</option>
                                        </select>
                                    </div>
                                    <div class="col-md mb-3">
                                        <select
                                            class="form-control bg-light border-0 small"
                                            placeholder="Wybierz"
                                            required="required"
                                            [(ngModel)]="recipeMalt.malt.type"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                            <option value="" selected disabled hidden>Wybierz</option>
                                            <option value="gr">Słód</option>
                                            <option value="de">Ekstrakt suchy</option>
                                            <option value="le">Ekstrakt płynny</option>
                                            <option value="su">Cukier</option>
                                        </select>
                                    </div>
                                    <div class="col-md mb-3">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipeMalt.quantity"
                                                [ngModelOptions]="{standalone: true}"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">kg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipeMalt.malt.color"
                                                [ngModelOptions]="{standalone: true}"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">EBC</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md mb-3">
                                        <div class="input-group">
                                            <input
                                                type="text"
                                                class="form-control bg-light border-0 small"
                                                [(ngModel)]="recipeMalt.malt.extractivity"
                                                [ngModelOptions]="{standalone: true}"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text border-0 bg-light">%</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1 mb-3">
                                        <button class="btn btn-danger btn-circle btn-sm m-1" (click)="deleteMalt(recipeMalt);">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="recipeHops" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Chmiele</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col-md mb-3">
                                    <label>Nazwa</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wyszukaj..."
                                        required="required"
                                        [(ngModel)]="hop"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option [ngValue]="hop" selected disabled hidden>Wyszukaj...</option>
                                        <option *ngFor="let hop of hops;" [ngValue]="hop">{{ hop.name }}</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Użyto do</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wybierz"
                                        required="required"
                                        [(ngModel)]="recipeHop.used_for"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value="" selected disabled hidden>Wybierz</option>
                                        <option value="Goryczka">Goryczka</option>
                                        <option value="Aromat">Aromat</option>
                                        <option value="Smak">Smak</option>
                                        <option value="Na zimno">Na zimno</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Ilość</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="recipeHop.quantity"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">g</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Czas gotowania</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="recipeHop.boiling_time"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">min</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Alfa-kwasy</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="hop.alpha_acids"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-12 mb-1 text-center">
                                    <button class="btn btn-success btn-circle btn-sm m-1" >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-danger btn-circle btn-sm m-1"  title="Usuń wszystkie">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="recipeHops.length > 0">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead class="table-success">
                                            <tr>
                                                <th>Nazwa</th>
                                                <th>Użyto do</th>
                                                <th>Ilość</th>
                                                <th>Czas gotowania</th>
                                                <th>Alfa-kwasy</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let hop of recipeHops;">
                                            <tr>
                                                <td> {{ hop.hops.name }}  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle btn-sm m-1" >
                                                    <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="recipeYeast" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Drożdże</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col-md mb-3">
                                    <label>Nazwa</label>
                                    <input
                                        type="text"
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wyszukaj..."
                                        [(ngModel)]="yeastName"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                </div>
                                <div class="col-md mb-3">
                                    <label>Rodzaj</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wybierz"
                                        required="required"
                                        [(ngModel)]="yeastType"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value="" selected disabled hidden>Wybierz</option>
                                        <option value="aleYeast">Ale</option>
                                        <option value="lagerYeast">Lager</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Postać</label>
                                    <select
                                        class="form-control bg-light border-0 small"
                                        placeholder="Wybierz"
                                        required="required"
                                        [(ngModel)]="yeastForm"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                        <option value="" selected disabled hidden>Wybierz</option>
                                        <option value="dryYeast">Suche</option>
                                        <option value="liquidYeast">Płynne</option>
                                        <option value="slurryYeast">Gęstwa</option>
                                    </select>
                                </div>
                                <div class="col-md mb-3">
                                    <label>Ilość</label>
                                    <div class="input-group">
                                        <input
                                            type="text"
                                            class="form-control bg-light border-0 small"
                                            [(ngModel)]="yeastAmountInGrams"
                                            [ngModelOptions]="{standalone: true}"
                                        >
                                        <div class="input-group-append">
                                            <span class="input-group-text border-0 bg-light">g</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md mb-3">
                                    <label>Laboratorium</label>
                                    <input
                                        type="text"
                                        class="form-control bg-light border-0 small"
                                        [(ngModel)]="yeastLaboratory"
                                        [ngModelOptions]="{standalone: true}"
                                    >
                                </div>
                                <div class="col-xl-12 mb-1 text-center">
                                    <button class="btn btn-success btn-circle btn-sm m-1" >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button class="btn btn-danger btn-circle btn-sm m-1" title="Usuń wszystkie">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" *ngIf="recipeYeasts.length > 0">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead class="table-info">
                                            <tr>
                                                <th>Nazwa</th>
                                                <th>Rodzaj</th>
                                                <th>Postać</th>
                                                <th>Ilość</th>
                                                <th>Laboratorium</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tbody *ngFor="let yeast of recipeYeasts;">
                                            <tr>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>  </td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle btn-sm m-1" >
                                                    <i class="fas fa-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="recipeNotes" class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Notatki</h6>
                            </div>
                            <div class="card-body row">
                                <div class="col">
                                    <textarea
                                        rows="4"
                                        class="form-control bg-light border-0"
                                        [(ngModel)]="recipe.notes"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-body row">
                                <div class="col text-right">
                                    Receptura publiczna
                                    <input
                                        id="isRecipePublic"
                                        type="checkbox"
                                        checked=true
                                        [(ngModel)]="recipe.is_public"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 mb-4 text-center">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        (click)="createRecipe();"
                    >
                        <span class="text">Zapisz recepturę</span>
                    </button>
                </div>

            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->