<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row" *ngIf="currentUser && currentUser.profile">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">
                                  Profil
                                </h6>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-column">
                                    <div class="mb-3">
                                        <div class="profile-card card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1 text-center">
                                                            Zdjęcie profilowe
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                           <img src="{{ currentUser.profile.picture_thumb_150x150 }}"
                                                                alt="zdjęcie profilowe" class="mx-auto  profile-card__picture">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Login
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.username }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Imię
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.first_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Nazwisko
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.last_name }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                              <div class="card-body">
                                                  <div class="row no-gutters align-items-center">
                                                      <div class="col mr-2">
                                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                              Email
                                                          </div>
                                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            {{ currentUser.email }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Data dołączenia
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.date_joined }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="mb-3">
                                          <div class="card border-left-success shadow h-100 py-2">
                                              <div class="card-body">
                                                  <div class="row no-gutters align-items-center">
                                                      <div class="col mr-2">
                                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                              Ostatnio aktywny
                                                          </div>
                                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                            {{ currentUser.last_login }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                            </div>
                            <div class="card-body">
                                <div class="d-flex flex-column">
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Instagram
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          <a href="https://www.instagram.com/{{ currentUser.profile.instagram }}/"
                                                             target="_blank">
                                                            @{{ currentUser.profile.instagram }}
                                                          </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Strona WWW
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          <a href="//{{ currentUser.profile.website }}"
                                                             target="_blank">
                                                            {{ currentUser.profile.website }}
                                                          </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Piwowar od
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.profile.brewer_since }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Data urodzenia
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.profile.birth_date }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Miejscowość
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.profile.town }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                          O mnie
                                                        </div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                          {{ currentUser.profile.about_me }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="card border-left-success shadow h-100 py-2">
                                              <div class="card-body">
                                                  <div class="row no-gutters align-items-center">
                                                      <div class="col mr-2">
                                                          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                              Ulubione style piwne
                                                          </div>
                                                          <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                              <span *ngFor="let favBeerStyle of currentUser.profile.favourite_beer_style"
                                                                class="badge bg-primary ml-1 p-2">
                                                                {{ favBeerStyle.name }}
                                                              </span>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-4 border-bottom-info">
                        <div class="col-lg-12 mb-4 mt-4">
                            <a class="btn btn-primary"
                                 routerLink="/edytuj-profil"
                                 role="button">
                                <span class="text">Edytuj</span>
                            </a>
                            <a class="btn btn-primary ml-4"
                                 routerLink="/edytuj-profil/zmien-haslo"
                                 role="button">
                                <span class="text">Zmień hasło</span>
                            </a>
                            <a class="btn btn-danger ml-4"
                                 routerLink="/edytuj-profil/usun-konto"
                                 role="button">
                                <span class="text">Usuń konto</span>
                            </a>
                        </div>
                    </div>

                </div>

              </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <app-footer></app-footer>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
