<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <app-topbar></app-topbar>

        <!-- Main Content -->
        <div id="content">
            <div class="container-fluid">
                <div class="row" *ngIf="currentUser && currentUser.profile">
                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Profil</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <img class="img-profile rounded-circle mb-3"
                                        src="{{ currentUser.profile.picture_thumb_50x50 }}"
                                    >
                                    <ng-template #profile_picture_placeholder>
                                        <img class="img-profile rounded-circle mb-3"
                                             style="width: 50px; height: 50px;"
                                             src="/assets/startbootstrap-sb-admin-2/img/undraw_profile.svg">
                                    </ng-template>

                                    <h5>Witaj {{ currentUser.first_name }}!</h5>

                                    <h5 class="pt-3 font-weight-bold">Dziś jest {{ date | date: 'd MMMM YYYY' }}</h5>
                                </div>
                                <div>

                                    <h5>
                                        <i class="fas fa-chevron-right"></i>
                                        <span> Liczba stworzonych receptur: </span>
                                        <span class="font-weight-light">{{ this.numberOfRecipes }}</span>
                                    </h5>
                                    <h5>
                                        <i class="fas fa-chevron-right"></i>
                                        <span> Liczba uwarzonych warek: </span>
                                        <span class="font-weight-light">{{ this.numberOfBatches }}</span>
                                    </h5>
                                    <h5>
                                        <i class="fas fa-chevron-right"></i>
                                        <span> Ostatnio stworzona receptura: </span>
                                        <span *ngIf="this.latestRecipe" class="font-weight-light">{{ this.latestRecipe.name }}</span>
                                    </h5>
                                    <h5>
                                        <i class="fas fa-chevron-right"></i>
                                        <span> Ostatnio uwarzone piwo: </span>
                                        <span *ngIf="this.latestBatch" class="font-weight-light">{{ this.latestBatch.name }}</span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Aktualne warki</h6>
                            </div>
                            <div class="card-body">
                                <div *ngIf="batches && batches.length > 0; else noCurrentBatches;">
                                    <h5 class="mb-4">Masz następujące niezabutelkowane warki:</h5>
                                    <div *ngFor="let batch of batches">
                                        <a class="text-decoration-none mb-4"
                                           routerLink="/warki/{{ batch.id }}"
                                           routerLinkActive="active"
                                        >
                                            <h5 class="text-success">
                                                <i class="fas fa-beer"></i>
                                                {{ batch.name }}
                                            </h5>
                                        </a>
                                    </div>
                                </div>
                                <ng-template #noCurrentBatches>
                                    <h5>Obecnie Twoja kadzie są puste. Uwarz coś!</h5>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="currentUser">
                    <div class="col-lg-3 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Dodaj recepturę</h6>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-info"
                                     type="submit"
                                     routerLink="/dodaj-recepture"
                                     routerLinkActive="active"
                                >
                                    <span class="text">Stwórz recepturę</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Stwórz warkę</h6>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-danger"
                                     type="submit"
                                     routerLink="/moje-receptury"
                                     routerLinkActive="active"
                                >
                                    <span class="text">Stwórz warkę</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
