<!-- Page Wrapper -->
<div id="wrapper">

    <app-sidebar></app-sidebar>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <app-topbar></app-topbar>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow mb-4 border-bottom-info">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Receptura</h6>
                            </div>
                            <div class="card-body">
                                <form class="d-flex">
                                    <input style="width: 30%;" type="text" class="form-control bg-light border-0 small" placeholder="Nazwa">

                                    <select class="form-control bg-light border-0 small ml-4 col-lg-3"
                                            placeholder="Typ" required="required"
                                    >
                                        <option value selected="selected">Typ</option>
                                        <option value="malt">Zacieranie</option>
                                        <option value="extract">Ekstrakty</option>
                                        <option value="brewkit">Brewkit</option>
                                    </select>

                                    <select class="form-control bg-light border-0 small ml-4 col-lg-3"
                                            placeholder="Styl" required="required"
                                    >
                                        <option value selected="selected">Styl</option>
                                        <option value="indiaPaleAle">India Pale Ale</option>
                                        <option value="balticPorter">Baltic Porter</option>
                                        <option value="kriek">Kriek</option>
                                        <option value="whiteIPA">White IPA</option>
                                        <option value="pils">Pils</option>
                                    </select>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Beerappka 2021 Michał Pojęta & Emil Pausz</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
